[package]
name = "test-programs-artifacts"
version = "0.0.0"
edition.workspace = true
license.workspace = true
publish = false

[dependencies]

[build-dependencies]
cargo_metadata = "0.18"
heck = "0.5"
